swagger: "2.0"
info:
  description: "This the the api endpoint for AIMA Exercises"
  version: "1.0.0"
  title: "AIMA Exercises API"
host: "aima-exercises.firebaseapp.com"
basePath: "/"
tags:
- name: "Book"
  description: "Access to AIMA Exercises"
schemes:
- "http"
paths:
  /chapter/{chapterID}/:
    get:
      tags:
      - "Book"
      summary: "Find exercises by chapter number"
      description: "to-do get description"
      operationId: "getExercisesByChapters"
      produces:
      - "application/json"
      parameters:
      - name: "chapterID"
        in: "path"
        description: "ID of the chapter that needs to be fetched"
        required: true
        type: "integer"
        maximum: 10.0
        minimum: 1.0
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Book"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Chapter not found"
    delete:
      tags:
      - "Book"
      summary: "Delete chapter by ID"
      description: "to-do delete description"
      operationId: "deleteOrder"
      produces:
      - "application/json"
      parameters:
      - name: "chapterID"
        in: "path"
        description: "ID of the chapter that needs to be deleted"
        required: true
        type: "integer"
        minimum: 1.0
        format: "int64"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Order not found"
  /chapter/{chapterID}/exercise/{exerciseID}:
    post:
      tags:
      - "Book"
      summary: "Fetch the exercise from a chapter"
      description: "to-do"
      operationId: "placeOrder"
      produces:
      - "application/json"
      parameters:
      - name: "chapterID"
        in: "path"
        description: "ID of the chapter that needs to be deleted"
        required: true
        type: "integer"
        minimum: 1.0
        format: "int64"
      - name: "exerciseID"
        in: "path"
        description: "ID of the chapter that needs to be deleted"
        required: true
        type: "integer"
        minimum: 1.0
        format: "int64"
      - in: "body"
        name: "body"
        description: "order placed for purchasing the pet"
        required: true
        schema:
          $ref: "#/definitions/Book"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Book"
        400:
          description: "Invalid Order"
securityDefinitions:
  petstore_auth:
    type: "oauth2"
    authorizationUrl: "http://petstore.swagger.io/oauth/dialog"
    flow: "implicit"
    scopes:
      write:pets: "modify pets in your account"
      read:pets: "read your pets"
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
definitions:
  Book:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      petId:
        type: "integer"
        format: "int64"
      quantity:
        type: "integer"
        format: "int32"
      shipDate:
        type: "string"
        format: "date-time"
      status:
        type: "string"
        description: "Order Status"
        enum:
        - "placed"
        - "approved"
        - "delivered"
      complete:
        type: "boolean"
        default: false
    xml:
      name: "Book"

externalDocs:
  description: "Find out more about AIMA Exercises"
  url: "http://aimacode.github.io/aima-exercises"